html {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(rgb(112 112 255), rgb(69 187 255));
  background-repeat: no-repeat;
  color: white;
  font-family: Comfortaa, sans-serif;
  background-attachment: fixed;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

input {
  font-family: Comfortaa, sans-serif;
}

/* Sign-Up and Login */

form {
  width: clamp(300px, 50%, 400px);
}

.auth-input {
  text-align: center;
  flex-basis: 100%;
  width: 100%;
  padding: 5px;
  border: 1px solid white;
  background: rgb(255 255 255 / 15%);
  border-radius: 5px;
  color: white;
  font-size: 30px;
  margin: 5px 0;
  transition: background 0.15s;
}

.auth-input:focus {
  outline: none;
  background: rgb(255 255 255 / 25%);
}

.auth-label {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}

.first-name-label,
.last-name-label {
  width: 45%;
}

.login-signup {
  flex-basis: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form-input {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-submit {
  cursor: pointer;
  font-family: Comfortaa, sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-weight: 600;
  background: blue;
  margin: 20px;
}

.greyed-out {
  pointer-events: none;
  background: rgb(82 82 129) !important;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.error {
  color: rgb(255 0 0);
  background: rgb(255 255 255 / 50%);
  padding: 5px 15px;
  border-radius: 5px;
}

/* pane */

.pane {
  padding: 0 10px;
  padding-top: 5px;
  background: rgb(255 255 255 / 17.8%);
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
}

.pane-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid white;
  align-items: center;
}

.pane-body {
  padding: 10px 0;
}

.chart {
  padding: 2px;
}

.chart tspan {
  font-size: 10pt;
}

.schedule-icon {
  margin-right: 20px;
}

/* home */

.home {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-head {
  flex-basis: auto;
  width: clamp(300px, 100%, 500px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.home-title,
.home-greeting,
.logout {
  text-align: center;
  flex-basis: 100%;
}

.home-profile-image {
  width: 25%;
  max-width: 300px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid white;
}

.home-greeting {
  margin-top: 0;
}

.home-welcome-pane {
  margin: 0 10px;
}

.logout {
  padding: 20px;
}

.widgets {
  margin: 0 10px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
}

.weight-table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.weight-form {
  display: flex;
  align-items: center;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid white;
}

tbody tr:hover {
  cursor: pointer;
  background: rgb(255 255 255 / 26%);
}

.weight-input {
  font-size: 20px;
  padding: 3px;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

.weight-input:focus {
  outline: none;
}

.weight-button {
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .home {
    justify-content: space-evenly;
  }

  .widgets {
    flex-basis: 50%;
  }

  .widgets > .pane {
    flex-basis: 100%;
  }
}
